.class1{
    font-family: sans-serif;
    font-size: small;
    font-weight: 200;
    line-height: 20px;

}
.class2{
    font-family: serif;
    font-size: small;
    font-weight: 500;
    line-height: 40px;

    
}